<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs", {loggedIn: loggedIn}) %>
    <%- include("partials/flashes.ejs") %>

    <div>
        <h1><%= courseHeader %></h1>
        <p><%= courseSubheader %></p>
        <div class="container">
            <p><b>OVERALL</b> <%= overallStars %> <%= overallNum %> </p>
            <p><b>Accessibility</b> <%= accessibilityStars %> <%= accessibilityNum %> </p>
            <p><b>Content Difficulty</b> <%= contentStars %> <%= contentNum %> </p>
            <p><b>Workload</b> <%= workloadStars %> <%= workloadNum %> </p>
        </div>
    <div>
        <form
        id="new course"
        method="GET"
        action="/upload/<%= cid %>" >
           <p><button type="submit">View Syllabi</button></p>
        </form>
        <% if(loggedIn){ %>
            <form action="/upload/<%= cid %>" method="POST" enctype="multipart/form-data" class = "right">
                <p>Input Syllabus:</p>
                    <p><label for="title">title
                        <input type="text" name="title" placeholder="photo title"></label>
                    </p>
                    <p><label>file
                        <input type="file" accept=".pdf" name="photo" >
                    </label></p>
                <p>
                    <input type="submit" value="Submit Uploads">
                    <input type="reset" value="Reset">
                </p>
            </form>
        <%}%>
    </div>
    </div>
    <form id="filter" method="GET" action="/course/<%= cid %>">
        <p>
            <label>
                <b>Filter by:</b>
                <select name="rating">
                    <option value="">Choose Rating</option>
                    <% ['★★★★★', '★★★★☆', '★★★☆☆', '★★☆☆☆', '★☆☆☆☆'].forEach((stars, ind) => { %>
                        <% if (5-ind === filterRating) {%> 
                            <option value="<%= 5-ind %>" selected="selected"><%= stars %></option> 
                        <%} else {%>
                            <option value="<%= 5-ind  %>"><%= stars %></option> 
                        <% } %>
                    <% }); %>
                </select>
                <select name="professor">
                    <option value="">Choose Professor</option>
                    <% professors.forEach((prof) => { %>
                        <% if (prof === filterProf) {%> 
                            <option selected="selected"><%= prof %></option> <%} else {%>
                            <option><%= prof %></option> <% } %>
                    <% }); %>
                </select>
                <input type="submit" value="Filter" id="searchbutton">
            </label>
        </p>
    </form>
    <br>

    <div class="reviewBox">
        <% if (reviewList.length == 0) { %>
            No results for this search! <% } else { %>
            <% reviewList.forEach((rev) => {  %>
                <div class="courseCard" id=<%= rev.id %>>
                    <p class="reviewTitle"><%= rev.title%></p>
                    <% if (rev.professor != null) { %>
                        <p>Professor: <%= rev.professor %></p>
                    <% }%>
                    <p><%= rev.text %></p>
                    <div class="container">
                        <p><%= rev.overallStars %> OVERALL</p>
                        <p><%= rev.workloadStars %> Workload</p>
                        <p><%= rev.accessibilityStars %> Accessibility</p>
                        <p><%= rev.contentStars %> Content Difficulty</p>
                    </div>
                    <button data-role="upBtn" onclick="">↑</button>
                    <p data-role="voteNum"><%= rev.upvotes - rev.downvotes%></p>
                    <button data-role="downBtn">↓</button>
                    <span data-role="errorMessage"></span>
                </div>
            <% }); %>
        <% } %>
    </div>
</body>
<script src="/main.js"></script>
</html>