<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs", {loggedIn: loggedIn}) %>
    <%- include("partials/flashes.ejs") %>

    <div>
        <h1><%= courseHeader %></h1>
        <p><%= courseSubheader %></p>
        <div class="container">
            <p><%= overallStars %> OVERALL</p>
            <p><%= workloadStars %> Workload</p>
            <p><%= accessibilityStars %> Accessibility</p>
            <p><%= contentStars %> Content Difficulty</p>
        </div>
    </div>
    <br>

    <div>
        <% reviewList.forEach((rev) => {  %>
            <div class="courseCard">
                <p class="reviewTitle">Review Title!</p>
                <p><%= rev.text %></p>
                <div class="container">
                    <p><%= rev.overallStars %> OVERALL</p>
                    <p><%= rev.workloadStars %> Workload</p>
                    <p><%= rev.accessibilityStars %> Accessibility</p>
                    <p><%= rev.contentStars %> Content Difficulty</p>
                </div>
                <button><%= rev.upvotes %>↑</button>
                <button><%= rev.downvotes %>↓</button>
            </div>
        <% }); %>
    </div>
</body>
</html>
