<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Make Review</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
   <%- include("partials/navbar.ejs", {loggedIn: loggedIn}) %>

   <%- include("partials/flashes.ejs") %>
    <h1>Submit a Review</h1>

<form id="review"
      method="POST"
      action="/review/">
     <label>Course: </label> 
     <select name="courseIdReview">
      <option value="" disabled selected>Choose one</option>
      <!-- making an option for each course in the list-->
      <% courses.forEach( course => {%>
          <option value = "<%=course.courseId%>" > <%=course.courseCode%>: <%=course.courseName%> </option>
      <% }) %>
    </select><br><br>
        <label>Professor: 
        <select name ="Professor">
        </select></label><br><br>
    <div id = "professorSel" /*style = "display: none"*/>
    </div>
    <p>Workload Rating: 
    <label>1<input type="radio" name = "workloadRating"  value = 1></label>
    <label>2<input type="radio" name = "workloadRating" value = 2></label>
    <label>3<input type="radio" name = "workloadRating" value = 3></label>
    <label>4<input type="radio" name = "workloadRating" value = 4></label>
    <label>5<input type="radio" name = "workloadRating" value = 5></label>
    </p>
     <p>Content Difficulty Rating:  
     <label>1<input type="radio" name = "contentDifficulty" value = 1></label>
    <label>2<input type="radio" name = "contentDifficulty" value = 2></label>
    <label>3<input type="radio" name = "contentDifficulty" value = 3></label>
    <label>4<input type="radio" name = "contentDifficulty" value = 4></label>
    <label>5<input type="radio" name = "contentDifficulty" value = 5></label>
    </p>
    <p>Accessibility Rating:  
    <label>1<input type="radio" name = "accessibility" value = 1></label>
    <label>2<input type="radio" name = "accessibility" value = 2></label>
    <label>3<input type="radio" name = "accessibility" value = 3></label>
    <label>4<input type="radio" name = "accessibility" value = 4></label>
    <label>5<input type="radio" name = "accessibility" value = 5></label>
    </p>
    <p>Overall Rating:     
    <label>1<input type="radio" name = "rating" value = 1></label>
    <label>2<input type="radio" name = "rating" value = 2></label>
    <label>3<input type="radio" name = "rating" value = 3></label>
    <label>4<input type="radio" name = "rating" value = 4></label>
    <label>5<input type="radio" name = "rating" value = 5></label>
    </p>
    <br>
    <label>Review: <textarea rows="5" cols="30" name="reviewText"></textarea></label>   
  <p><button type="submit">Submit</button></p>
</form>
<form
id="new course"
method="GET"
action="/inputCourse/" >
   <p>Course missing?</p>
   <button type="submit">Add a new Course!</button>
</form>
<script>
    var profs = '<%- JSON.stringify(professors) %>';
    profs = JSON.parse(profs);
    function loadProfessors(){
        var selectedID = $('[name="courseIdReview"]').find(':selected').val();
        $('[name="Professor"]').empty()
        $('#professorSel').empty()
        if(profs[selectedID].length==0){
            $('#professorSel').append(
                "<label>New Professor <input type = textarea name = 'newProf'></input></label> "
            );
        }else{
        $('[name=Professor]').append(profs[selectedID].map(
            professorName => `<option> ${professorName} </option>`
            )
        )
        $('[name="Professor"]').append(
            "<option id = 'other' value = 'other'>other</option>"
        )
        }
    }
    function loadInputText(){
        console.log("loading input text")
        if ($(this).val() === 'other'){
            $('#professorSel').append(
                "<label>New Professor <input type = textarea name = 'newProf'></input></label> "
            )
        }
    }
    $('[name="courseIdReview"]').change(loadProfessors)
    $('[name="Professor"]').change(loadInputText)

</script>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>