<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Make Review</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
   <%- include("partials/navbar.ejs", {loggedIn: loggedIn}) %>

   <%- include("partials/flashes.ejs") %>
   <div class="container">
    <% uploads.forEach( file => { %>
      <figure>
        <!-- <img class="uploadedImg" src="<%= file.path %>" alt="<%= file.title %>"> -->
        <embed src="<%= file.path %>" width="800px" height="2100px" />
        <figcaption><%= file.title || 'Untitled' %></figcaption>
      </figure>
    <% }) %>
  </div>



    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>